// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout kit
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.4285714286;
  letter-spacing: 0;
  color: $black;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: inherit;

  &:hover {
    color: $action;
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin: 4.5rem auto;
  border-width: 0;
  border-top: 1px solid $grey-200;
}
