// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors

$black:      #000 !default;
$white:      #fff !default;
 
$grey-50:    #F6F6F6 !default;
$grey-100:   #EEEEEE !default;
$grey-200:   #E2E2E2 !default;
$grey-300:   #CBCBCB !default;
$grey-400:   #AFAFAF !default;
$grey-500:   #757575 !default;
$grey-600:   #545454 !default;
$grey-700:   #333333 !default;
$grey-800:   #1F1F1F !default;
$grey-900:   #141414 !default;


$purple-400: #9664FF !default;

$cobalt-400: #0032FF !default;

$blue-400:   #00C8FF !default;

$turquoise-400: #00FFC8 !default;

$green-400:  #00FF00 !default;
$green-500:  #00BF00 !default;

$lime-400:   #96FF00 !default;
 
$yellow-300: #FFD640 !default;
$yellow-400: #FFC800 !default;
 
$orange-400 :#FF6400 !default;

$red-400 :   #FF0032 !default;
$red-500:    #BF0025 !default;

$pink-400:   #FF0096 !default;

// Eras

$era-one:   $pink-400;
$era-two:   $red-400;
$era-three: $orange-400;
$era-four:  $yellow-400;
$era-five:  $lime-400;
$era-six:   $green-400;
$era-seven: $turquoise-400;
$era-eight: $blue-400;
$era-nine:  $cobalt-400;
$era-ten:   $purple-400;


// Helper names

$positive: $green-500;
$warning:  $yellow-300;
$error:    $red-500;

$action:   $era-one; // this will update every era?


// get rid of these
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;


// Typography
$font-family: 'Inter', sans-serif;

$heading-size-xxl: 4rem;
$heading-size-xl: 3.6rem;
$heading-size-lg: 3.2rem;
$heading-size-md: 2.8rem;
$heading-size-sm: 2.4rem;
$heading-size-xs: 2rem;

$text-size-lg: 1.8rem;
$text-size-md: 1.6rem;
$text-size-sm: 1.4rem;
$text-size-xs: 1.2rem;

// Grid Variables
$container-width: 116.4rem !default;

$grid-columns: 12 !default; // Set number of columns in the grid

$grid-gutter: .8rem !default; // Set gutter size

$content-well-max-width: $container-width !default; // Set the max-width of the content well

$xs-max: 600px !default; // Set xs breakpoint's max width
$sm-max: 768px !default; // Set sm breakpoint's max width
$md-max: 1024px !default; // Set md breakpoint's max width
$lg-max: 1920px !default; // Set lg breakpoint's max width

$sm-start: ($xs-max + 1); // Generate sm breakpoint's min width
$md-start: ($sm-max + 1); // Generate md breakpoint's min width
$lg-start: ($md-max + 1); // Generate lg breakpoint's min width
$xl-start: ($lg-max + 1); // Generate xl breakpoint's min width

// Breakpoints
$breakpoint-xs-only: "only screen and (max-width: #{$xs-max})"; // 0 -> xs-max range

$breakpoint-sm-up: "only screen and (min-width: #{$sm-start})"; // sm-start -> up range
$breakpoint-sm-down: "only screen and (max-width: #{$sm-max})"; // 0 -> sm-max range
$breakpoint-sm-only: "only screen and (min-width: #{$sm-start}) and (max-width: #{$sm-max})"; // sm-start -> sm-max range

$breakpoint-md-up: "only screen and (min-width: #{$md-start})"; // md-start -> up range
$breakpoint-md-down: "only screen and (max-width: #{$md-max})"; // 0 -> sm-max range
$breakpoint-md-only: "only screen and (min-width: #{$md-start}) and (max-width: #{$md-max})"; // md-start -> md-max range

$breakpoint-lg-up: "only screen and (min-width: #{$lg-start})"; // lg-start -> up range
$breakpoint-lg-down: "only screen and (max-width: #{$lg-max})"; // 0 -> lg-max range
$breakpoint-lg-only: "only screen and (min-width: #{$lg-start}) and (max-width: #{$lg-max})"; // lg-start -> lg-max range

$breakpoint-xl-up: "only screen and (min-width: #{$xl-start})"; // xl-start -> up range

$breakpoint-all-prefixes: ("xs", "xs-only", "sm", "sm-only", "md", "md-only", "lg", "lg-only", "xl");
$breakpoint-up-prefixes: ("xs", "sm", "md", "lg", "xl");

$hover-media-query: "only screen and (hover: hover)"; // if hover is available


// Misc

