.accordion-head {
  padding: 0 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid $grey-200;
  background: $white;

  .label-md {
    margin: 0;
    flex: auto;
  }

  .minus {
    display: none;
  }

  &.open {

    .minus {
      display: block;
    }

    .plus {
      display: none;
    }

    + .accordion-content {
      max-height: 999em;
    }
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;

  .form-group {
    padding: 0 4.8rem;
    margin: 4.8rem 0;
  }

  img {
    max-width: 100%;
  }

  .accordion-head {
    background: $grey-50;

    .label-md {
      font-weight: 400;
    }
  }

  .accordion-content { 
    background: $grey-50;

    .accordion-content-inner {
      border-bottom: 1px solid $grey-200;
    }
  }
}


@media #{$hover-media-query} {

}