.badge {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.8181818182;
  letter-spacing: -.04545454545em;
  text-transform: uppercase;
  color: $grey-400;
  background: $grey-50;
} 

