// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

button,
.btn {
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 99em;
  height: 4.8rem;
  font-family: $font-family;
  padding: 0;
  margin: .8rem 0;
  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 4.6rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  transition: background .3s ease, color .3s ease, border .3s ease, opacity .3s ease;

  .circle {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    background: $black;
    border-radius: 100%;
    position: absolute;
    top: .5rem;
    left: .5rem;
    transition: all .3s ease;
  }

  [class^="icon"] {
    fill: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color .3s ease;
  }

  input {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      background: transparent;
      color: inherit;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

// modifiers

.btn-inline {
  display: inline-block;
  width: auto;
  max-width: none;
  padding: 0 1.2rem;
  height: 4.4rem;
  line-height: 4.2rem;
}

.btn-action {
  border-color: $action;
  color: $action;

  .circle {
    background: $action;
  }
}

.btn-solid {
  background-color: $black;
  color: $white;
}

.btn-solid-action {
  background-color: $action;
  color: $white;
  border-color: $action;

  .circle {
    background: $action;
  }
}

.btn-circle {
  width: 4.8rem;

  [class^="icon"] {
    fill: $black;
  }
}

.btn-circle-solid {
  width: 4.8rem;
  background: $black;

  [class^="icon"] {
    fill: $white;
  }
}

.btn-input {
  border-radius: 0;
  border: 0;
  width: 3.6rem;
  height: 3.6rem;
}

.btn-wrap {
  .btn-input {
    margin: -.1rem;
  }
}

.btn-mini {
  width: 2.4rem;
  height: 2.4rem;
  background-color: $black;
  color: $white;
  margin: 0;

  &.invert {
    background-color: $white;

    .icon24 {
      fill: $black;
    }
  }
}

.group-btn {
  display: flex;
  height: 4.8rem;
  width: 100%;

  button {
    flex: auto;
    max-width: none;
    padding: 1.2rem;
    height: 100%;
    line-height: 2.4rem;
    border: none;
    min-width: 8rem;
    border-radius: 0;
    background: $grey-100;
    color: $grey-500;
    margin: 0;
    text-align: left;
  }

  .discard {
    flex: 0;
  }

  .save {
    background: $green-500;
    color: $white;
    display: flex;

    .icon24 {
      fill: $green-500;
      background: $white;
      border-radius: 100%;
      position: static;
      transform: none;
      margin-right: 1.2rem;
    }
  }

  .disconnect {
    background: $yellow-300;
    color: $black;
    display: flex;

    .icon24 {
      background: $black;
      border-radius: 100%;
      padding: .4rem;
      margin-right: 1.2rem;
      box-sizing: border-box;
      position: static;
      transform: none;
    }

    .icon16 {
      fill: $yellow-300;
      position: static;
      transform: none;
    }
  }
}

.btn-sq {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0;
  margin: 0;
  border: 0;
  padding: 1.2rem;
  background: $grey-50;

  .icon,
  .icon24 {
    fill: $black;
  }

  &.active {
    background: $white;
  }
}

@media #{$hover-media-query} {
  button:hover,
  .btn:hover {
    color: $white;
    background-color: $black;
  }

  .btn.no-hover:hover {
    color: initial;
    background-color: unset;
  }

  .btn-action:hover {
    background-color: $action;
    color: $white;
  }

  .btn-mini:hover,
  .btn-solid:hover {
    background-color: transparent;
    color: $black;
  }

  .btn-mini:hover {
    [class^="icon"] {
      fill: $black;
    }
  }

  .btn-mini.invert:hover {
    background-color: $black;

    [class^="icon"] {
      fill: $white;
    }
  }

  .btn-solid-action:hover {
    background-color: transparent;
    color: $action;
  }

  .btn-solid-action.no-hover:hover {
    color: $white;
    background-color: $action;
  }

  .btn-hover-white:hover {
    background-color: $white;
    color: $black;
    border-color: $white;

    .circle {
      background: $white;
    }

    [class^="icon"] {
      fill: $black;
    }
  }

  .btn-circle:hover {
    [class^="icon"] {
      fill: $white;
    }
  }

  .btn-input:hover,
  .btn-circle-solid:hover {
    background: transparent;

    [class^="icon"] {
      fill: $black;
    }
  }

  .save:hover {
    background: $green-400;

    .icon24 {
      fill: $green-400;
    }
  }

  .btn-sq:hover {
    background: $grey-200;   
  }

  .btn-sq.active:hover {
    background: $white;   
  }
}


.btn-down {
  width: 4.8rem;
  height: 9.6rem;
  border: 1px solid $white;
  box-sizing: border-box;
  position: relative;
  border-radius: 2.4rem;
  display: block;

  .icon {
    width: 3.6rem;
    height: 3.6rem;
    background: $white;
    border-radius: 100%;
    fill: $black;
    position: absolute;
    bottom: .5rem;
    left: .5rem;
  }
  
}

@media #{$breakpoint-sm-up} {

  .btn,
  button {
    max-width: 25.6rem;
  }

  .btn-down:hover .icon {
    animation: bounce .75s ease;
  }

}

@keyframes bounce {
  0%   { transform: translateY(0); }
  10%  { transform: translateY(0); }
  30%  { transform: translateY(-2.4rem); }
  50%  { transform: translateY(0); }
  57%  { transform: translateY(-.5rem); }
  64%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}