// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

button,
.btn {
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 99em;
  height: 4.8rem;
  font-family: $font-family;
  padding: 0;
  margin: .8rem 0;
  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 4.6rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  transition: background 0.3s ease, color .3s ease, border-color .3s ease;

  .circle {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    background: $black;
    border-radius: 100%;
    position: absolute;
    top: .5rem;
    left: .5rem;
    transition: background 0.3s ease, color .3s ease;
  }

  [class^="icon"] {
    fill: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color .3s ease;
  }

  input {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      background: transparent;
      color: inherit;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

// modifiers

.btn-inline {
  display: inline-block;
  width: auto;
  max-width: none;
  padding: 0 1.2rem;
  height: 4.4rem;
  line-height: 4.2rem;
}

.btn-action {
  border-color: $action;
  color: $action;

  .circle {
    background: $action;
  }
}

.btn-solid {
  background-color: $black;
  color: $white;
}

.btn-solid-action {
  background-color: $action;
  color: $white;
  border-color: $action;

  .circle {
    background: $action;
  }
}

.btn-circle {
  width: 4.8rem;

  [class^="icon"] {
    fill: $black;
  }
}

.btn-circle-solid {
  width: 4.8rem;
  background: $black;

  [class^="icon"] {
    fill: $white;
  }
}


@media #{$hover-media-query} {
  button:hover,
  .btn:hover {
    color: $white;
    background-color: $black;
  }

  .btn-action:hover {
    background-color: $action;
    color: $white;
  }

  .btn-solid:hover {
    background-color: transparent;
    color: $black;
  }

  .btn-solid-action:hover {
    background-color: transparent;
    color: $action;
  }

  .btn-hover-white:hover {
    background-color: $white;
    color: $black;
    border-color: $white;

    .circle {
      background: $white;
    }

    [class^="icon"] {
      fill: $black;
    }
  }

  .btn-circle:hover {
    [class^="icon"] {
      fill: $white;
    }
  }

  .btn-circle-solid:hover {
    background: transparent;

    [class^="icon"] {
      fill: $black;
    }
  }

}


@media #{$breakpoint-sm-up} {

  .btn,
  button {
    max-width: 25.6rem;
  }

}