// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

button,
.btn {
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 99em;
  height: 4.8rem;
  font-family: $font-family;
  padding: 0;
  margin: .8rem 0;
  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3.4285714286;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  transition: background 0.3s ease, color .3s ease;

  .circle {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    background: $black;
    border-radius: 100%;
    position: absolute;
    top: .5rem;
    left: .5rem;

    .icon {
      fill: $white;
    }
  }

  input {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      background: transparent;
      color: inherit;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}




// modifiers 

.btn-action {
  border-color: $action;
  color: $action;

  .circle {
    background: $action;
  }
}

.btn-solid {
  background-color: $black;
  color: $white;
}

.btn-solid-action {
  background-color: $action;
  color: $white;
  border-color: $action;

  .circle {
    background: $action;
  }
}


@media #{$hover-media-query} {
  button:hover,
  .btn:hover {
    color: $white;
    background-color: $black;
  }

  .btn-action:hover{
    background-color: $action;
    color: $white;
  }

  .btn-solid:hover{
    background-color: transparent;
    color: $black;
  }

  .btn-solid-action:hover{
    background-color: transparent;
    color: $action;
  }

}


// input {
//   &[type="submit"].btn-primary:focus,
//   &[type="reset"].btn-primary:focus,
//   &[type="button"].btn-primary:focus {
//     color: #fff;
//     background-color: $link-color;
//     border-color: $link-color;
//   }

//   &[type="email"],
//   &[type="number"],
//   &[type="search"],
//   &[type="text"],
//   &[type="tel"],
//   &[type="url"],
//   &[type="password"] {
//     height: 38px;
//     padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
//     background-color: #fff;
//     border: 1px solid lighten($black, 8.8%);

//     box-shadow: none;
//     box-sizing: border-box;
//   }
// }

@media #{$breakpoint-sm-up} {

  .btn,
  button {
    max-width: 25.6rem;
  }

}