.card {
  display: block;
  box-sizing: border-box;
  padding: 1.6rem;
  background: $white;

  img {
    max-width: 100%;
  }

  &.dark,
  &.minted {
    background: $black;
    color: $white;

    .card-stats {
      border-color: $white;

      .badge {
        background-color: $grey-700;
      }
    }

    .infinifty-tag {
      background: $black;

      .icon {
        fill: $white;
      }
    }
  }

  .heading-xs {
    margin: 0;
  }

  .card-head {
    margin-bottom: 2rem;
  }
}

.card-image {
  margin-bottom: 1.6rem;
  position: relative;

  .infinifty-tag {
    position: absolute;
    top: 0;
    right: 0;
  }

  img {
    opacity: 0;
    transition: opacity .75s ease;

    &.loaded {
      opacity: 1;
    }
  }
}

.card-head {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3.2rem;


  button {
    float: right;
  }

  .heading-xs,
  .label-sm,
  .text-sm {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.card-stats {
  border-top: 1px solid $black;
  margin-top: 3.6rem;

  dl {
    margin-bottom: 0;
  }
}

.card-bordered {
  border: 1px solid $grey-200;
  box-sizing: border-box;
  padding: 1.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: 2.8rem;
  }

  .img-circle {
    margin-bottom: .8rem;
  }

  .card-bordered-details {
    flex: auto;
  }
}

.card-create {
  display: block;
  border: 1px solid $grey-200;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: border-color .3s ease;

  .img-circle {
    transition: all .3s ease;
  }

  .card-actions {
    padding-bottom: 18rem;
    flex: auto;
  }

  .btn {
    max-width: none;
  }

  &.first-time {
    .img-circle,
    .btn,
    .circle {
      background: $action;
      color: $white;
      border-color: $action;
    }
  
    .icon {
      fill: $white;
    }
  }
}

.card-actions {
  padding: 1.6rem;
}

.card-created {
  display: block;
  background: $grey-50;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: background .3s ease;

  .placeholder {
    background: $grey-200;
  }

  .card-stats {
    .badge {
      background: $grey-100;
      transition: background .3s ease;
    }
  }
}

.card-created-contents {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  flex: auto;
  border: 1px solid $grey-200;
  border-top: 0;

  .img-circle {
    margin-bottom: .8rem;
  }

  h6,.heading-xs {
    margin: 0;
  }

  .card-head {
    margin-bottom: 1.2rem;
  }

  .card-details {
    flex: auto;
  }

  .card-stats {
    border: none;
    margin-top: 2.8rem;
  }

  p {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 8rem;
  }
}

.card-add {
  background: $white;
  padding: 1.6rem;
  display: block;
  text-decoration: none;
  transition: all .3s ease;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;

  .infinifty-tag .icon {
    fill: $action;
  }

  .card-image {
    border: 1px solid $grey-200;

    &:before {
      padding-top: 133.333333%;
      display: block;
      content: "";
    }
  }

  .btn {
    max-width: none;
  }

  .img-circle {
    border-color: $action;
    margin-bottom: 1.2rem;

    .icon {
      fill: $action;
    }
  }
}

// Mini Cards //

.card-mini-wrap {
  display: flex;
  gap: 1.4rem;
  align-items: stretch;
  flex-wrap: wrap;

  .card-mini {
    flex: auto;
  }
}

.card-mini {
  border: .1rem solid $black;
  box-sizing: border-box;
  padding: 1.6rem;
  max-width: 22.8rem;
  min-width: 19rem;
  background: $white;

  .card-head {
    margin-bottom: 1.2rem;
  }
}

.card-mini-radio {
  cursor: pointer;

  .card-mini {
    border-color: $grey-200;
    background: transparent;
  }

  input {
    display: none;
  }

  input:checked + .card-mini {
    border-color: $black;
    background: $white;
  }
  
}


@media #{$hover-media-query} {
  .card-mini-radio:hover {
    .card-mini {
      border-color: $black;
    }
  }

  .card-create:hover {
    border-color: $black;
  }

  .card-create.first-time:hover {
    border-color: $action;
  }

  .card-created:hover {
    background: $white;

    .card-created-contents {
      border-color: $black;
    }

    .placeholder:empty:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      box-sizing: border-box;
      border: 1px solid $black;
      border-bottom: 0;
    }

    .card-stats .badge {
      background: $grey-50;
    }
  }

  .card-add:hover {
    background: $action;

    .circle,
    .img-circle {
      background: $white;
      border-color: $white;

      .icon {
        fill: $action;
      }
    }

    .btn {
      background: $white;
      color: $action;
    }
  }
}