.card {
  display: block;
  box-sizing: border-box;
  padding: 1.6rem;
  background: $white;

  img {
    max-width: 100%;
  }

  &.dark {
    background: $black;
    color: white;
  }

  .heading-xs {
    margin: 0;
  }

  .card-head {
    margin-bottom: 2rem;
  }
}

.card-image {
  margin-bottom: 1.6rem;
}

.card-head {
  display: grid;
  grid-template-columns: auto 3.2rem;

  button {
    float: right;
  }

  .heading-xs,
  .label-sm,
  .text-sm {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.card-mini-wrap {
  display: flex;
  gap: 1.4rem;
  align-items: stretch;
  flex-wrap: wrap;

  .card-mini {
    flex: auto;
  }
}

.card-mini {
  border: .1rem solid $black;
  box-sizing: border-box;
  padding: 1.6rem;
  max-width: 22.8rem;
  min-width: 19rem;
  background: $white;

  .card-head {
    margin-bottom: 1.2rem;
  }
}

.card-mini-radio {
  cursor: pointer;

  .card-mini {
    border-color: $grey-200;
    background: transparent;
  }

  input {
    display: none;
  }

  input:checked + .card-mini {
    border-color: $black;
    background: $white;
  }
  
}


@media #{$hover-media-query} {
  .card-mini-radio:hover {
    .card-mini {
      border-color: $black;
    }
  }
}