// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 3.6rem;
  padding: 0 1.6rem; 
  background-color: $grey-100;
  border: 1px solid $grey-100;
  width: 100%;
  line-height: 3.6rem;
  box-shadow: none;
  box-sizing: border-box;

  + span {
    display: block;
  }
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.prefill {
  color: $grey-600;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 13.2rem;
  padding: .8rem 1.6rem;
  resize: vertical;
  vertical-align: bottom;
  line-height: 1.4285714286;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border: 1px solid $black;
    outline: 0;
  }
}

.input-wrap {
  background-color: $grey-100;
  border: 1px solid $grey-100;
  display: flex;
  align-items: center;

  &:focus-within {
    border-color: $black;
  }

  .icon-wrap {
    padding: 1.1rem;
    flex: 0 0 2.4rem;
    height: 2.4rem;

    .icon32 {
      margin-top: -.4rem;
    }

    + input + .btn-wrap {
      padding-right: .5rem;
    }
  }

  .remove {
    display: none;
  }

  input {
    border: none;
    flex: auto;
    padding: 0;
    height: 3.4rem;

    &:not(:placeholder-shown) + .remove {
      display: block;
    }
  }

  input:first-child {
    padding: 0 1.6rem; 
  }
}

.input-wrap {
  input:focus {
    border: 0;
  }
}

textarea:focus,
select:focus {
  border: 1px solid $black;
  outline: 0;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

.form-group {
  padding-right: 3.2rem;
  margin-bottom: 3.2rem;
  max-width: 40rem;
}

.form-inline-group {
  display: flex;
  gap: .3rem;
}

.count {
  float: right;
  color: $grey-600;
  font-weight: 300;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  background-color: $grey-100;

  select {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    position: relative;
    line-height: 2.8rem;
  }

  .dropdown {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
  }
}

.custom-select {
  position: relative;

  input,
  .input-wrap {
    cursor: pointer;
  }
}

.custom-select-options {
  background: $white;
  box-shadow: 0rem .4rem 1.6rem rgba($black, 0.12);
  position: absolute;
  width: 100%;
}

.custom-select-option {
  display: flex;
  align-items: center;
  cursor: pointer;

  .icon-wrap {
    padding: 1.1rem;
    flex: 0 0 2.4rem;
    height: 2.4rem;

    .icon32 {
      margin-top: -.4rem;
    }
  }
}


.upload-area {
  background-color: $grey-100;
  border: 1px solid $grey-100;
  padding: 4.8rem;
  text-align: center;
  min-height: 31.3rem;
  box-sizing: border-box;

  .upload-label {
    display: block;
    margin: 0 0 3.2rem;
  }

  .btn-inline {
    margin: 0;
  }

  .upload-status,
  .upload-progress {
    display: none;
  }

  &.uploading {
    .upload-status,
    .upload-progress {
      display: block;
    }

    .upload-label {
      display: none;
    }

    .uploaded-image,
    .uploaded-logo {
      opacity: .5;
      filter: saturate(0.4);
    }
  }

  &.over {
    border-color: $black;
    background: $grey-200;

    .btn-inline {
      display: none;
    }

    .upload-icon {
      border-color: $black;
      background: transparent;
    }
  }
}

.upload-status {
  margin-bottom: 1.4rem;
}

.upload-progress {
  margin: 0 0 1.6rem 0;
}

.upload-progress-bar {
  height: .2rem;
  background: $black;
  display: block
}

.uploaded-logo,
.upload-icon {
  width: 9.6rem;
  height: 9.6rem;
  background: $grey-50;
  border-radius: 100%;
  margin: 0 auto 1.6rem;
  display: inline-block;
  position: relative;
  border: 1px solid $grey-50;
  vertical-align: bottom;

  .icon {
    position: absolute;
    left: 3.2rem;
    top: 3.2rem;
  }
}

.uploaded-image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 1.6rem;
  vertical-align: bottom;
}

.toogle-wrapper {
  display: flex;
  align-items: center;
  margin: 0;

  + hr {
    margin: 2rem 0 .8rem;
  }

  > span:first-child {
    flex: auto;
  }

  input {
    display: none;
  }  
}

.toggle {
  background: $grey-100;
  box-sizing: border-box;
  position: relative;
  width: 5.2rem;
  height: 2.8rem;
  display: inline-block;
  border-radius: 1.4rem;
  overflow: hidden;
  transition: all .3s ease;
  cursor: pointer;

  &:before {
    display: block;
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 0.2rem;
    left: 0.2rem;
    background: $white;
    box-shadow: 0rem .3rem .8rem rgba($black, 0.15), 0rem .1rem .1rem rgba($black, 0.16);
    border-radius: 100%;
    transition: all .3s ease;
  }
}

input:checked + .toggle {
  background: $black;

  &:before {
    -webkit-transform: translateX(2.4rem);
    -ms-transform: translateX(2.4rem);
    transform: translateX(2.4rem);
  }

}

.checkbox {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  vertical-align: bottom;
  
  svg {
    background: none;
    border-radius: 100%;
    fill: white;
    border: 1px solid $black;
    box-sizing: border-box;
  }

  use {
    display: none;
  }

  input {
    display: none;

    &:checked + svg {
      background: $black;

      use {
        display: block;
      }
    }
  }

  &.highlight {
    svg {
      border-color: $white;
    }

    input:checked + svg {
      background: $green-500;
      border-color: $green-500;
    }
  }

}

.error {
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='text'],
  input[type='tel'],
  input[type='url'],
  input[type='password'],
  textarea,
  .upload-area,
  .input-wrap {
    border-color: $red-200;
    background: $red-50;
  }

  .upload-icon {
    background: transparent;
  }

  select {
    border-color: $red-200;
  }

  .select {
    background: $red-50;
  }

  .hint {
    color: $red-500;
  }
  .select .icon,
  .input-wrap [class^="icon"] {
    fill: $red-500;
  }
}

@media #{$hover-media-query} {

  .custom-select-option:hover {
    background: $grey-50;
  }

  .toggle:hover {
    background: $grey-200;
  }

}