.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  transition: transform ease .5s;
  transform: translateX(42rem);

  &.open {
    transform: translateX(0);
  }

  &.infinifty {
    #infinifty {
      display: block;
    }
  }

  &.files {
    #files {
      display: block;
    }
  }

  &.customise {
    #customise {
      display: block;
    }
  }

  &.permissions {
    #permissions {
      display: block;
    }
  }

  &.owner {
    #owner {
      display: block;
    }
  }

  .folder {
    cursor: pointer;
  }

  .accordion-head.open {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .accordion-content .accordion-head.open {
    position: static;
  }

  .folder-list {
    border-left: 0;
    border-right: 0;

    li {
      padding-left: 2.4rem;
      padding-right: 3.7rem;
    }
  }
}

.sidebar-content {
  width: 42rem;
  height: 100vh;
  background: #fff;
  overflow: auto;

  .sidebar-tab-contents {
    display: none;
  }
}

.sidebar-tabs {
  position: absolute;
  top: 4.8rem;
  left: -4.8rem;
  width: 4.8rem;
}

.sidebar-header {
  height: 4.8rem;
  position: relative;

  .disconnect-wallet {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sidebar-section {
  padding: 0 4.8rem;
  margin: 1.2rem 0 4.8rem;

  .stats {
    margin-top: 2.4rem;
  }

  .heading-xs {
    margin: 0; 

    + p {
      margin: 1.2rem 0 2.8rem;
    }
  }

  .pull-right {
    margin-top: 2.6rem;
  }

  &.bordered {
    border-top: 1px solid $grey-200;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;

    &:first-child {
      border: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.sidebar-input {
  margin: 2.4rem 0;
}


.fixed-notice {
  position: fixed;
  top: 0;
  width: inherit;
  z-index: 200;
}

.permission {
  display: flex;
  align-items: center;

  .permission-left {
    flex: auto;
  }
}


@media #{$hover-media-query} {

  .sidebar {
    .file:hover,
    .folder:hover {
      background: $grey-50;
    }
  }
  
}