// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

th,
td {
  padding: 1.2rem 1.6rem;
  text-align: left;
  border-bottom: .1rem solid $grey-200;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
